<!DOCTYPE html>
<html>

<head>
    <%- include('layouts/head') %>
</head>

<body class="hold-transition sidebar-mini sidebar-collapse">
    <div class="wrapper">
        <%- include('layouts/navbar') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1><%= pageTitle %></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item active"><%= pageTitle %></li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <button type="button" style="float: right !important;" class="btn btn-success"
                                        data-toggle="modal" data-target="#modal-default">
                                        Add Cities
                                    </button>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <p class="lead"></p>
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>City Name</th>
                                                <th>State Name</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(let c of cities){  %>
                                            <tr>
                                                <td><%= c.City_Name %></td>
                                                <td><%= c.State_Name %></td>
                                                <td>
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#edit-city-<%= c.City_Id %>">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <div class="modal fade" id="edit-city-<%= c.City_Id %>">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <form action="/admin/City/edit/<%= c.City_Id %>" method="post">
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title">Edit City Form</h4>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">×</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="form-group row">
                                                                            <label class="col-4">City Name</label>
                                                                            <input type="text" name='cityname'class="col-6 form-control" value="<%= c.City_Name %>" required='' />
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label class="col-4">State</label>
                                                                            <select name='state' required="">
                                                                                <option value="">Select State</option>
                                                                                <% for(let s of states){ 
                                                                                        if(s.State_Id == c.State_Id){ %>
                                                                                    <option value="<%= s.State_Id %>" selected><%= s.State_Name %></option>
                                                                                <% }else{ %>
                                                                                    <option value="<%= s.State_Id %>"><%= s.State_Name %></option>
                                                                                <% } } %>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer justify-content-between">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                        <input type="submit" class="btn btn-primary"  value='Edit' />
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                        <!-- /.modal-dialog -->
                                                    </div>
                                                </td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>City Name</th>
                                                <th>State Name</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
            <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="/admin/City/add" method="post">
                            <div class="modal-header">
                                <h4 class="modal-title">City Form</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label class="col-4">City Name</label>
                                    <input type="text" name='cityname' class="col-6 form-control" required='' />
                                </div>
                                <div class="form-group row">
                                    <label class="col-4">State</label>
                                    <select name='state' required="">
                                        <option value="">Select State</option>
                                        <% for(let s of states){  %>
                                            <option value="<%= s.State_Id %>"><%= s.State_Name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value='Save' />
                            </div>
                        </form>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
        <%- include('layouts/footer') %>
    </div>
    <!-- ./wrapper -->

    <%- include('layouts/scripts') %>
</body>

</html>