<!DOCTYPE html>
<html>

<head>
    <%- include('layouts/head') %>
</head>

<body class="hold-transition sidebar-mini sidebar-collapse">
    <div class="wrapper">
        <%- include('layouts/navbar') %>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>
                                    <%= pageTitle %>
                                </h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item active">
                                        <%= pageTitle %>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-header">
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <p class="lead"></p>
                                        <table id="example1" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Order_Date</th>
                                                    <th>Status</th>
                                                    <th>Transaction_Code</th>
                                                    <th>Product_Name</th>
                                                    <th>Image</th>
                                                    <th>User_Name</th>
                                                    <th>Shipping Address</th>
                                                    <th>Total Price</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(let o of orders){ %>
                                                    <tr>
                                                        <td>
                                                            <% date= new Date(o.Order_Date) %><%= date.toLocaleDateString().split('/').join('-')+' '+date.toLocaleTimeString() %>
                                                        </td>
                                                        <td>
                                                            <%= o.Status %>
                                                        </td>
                                                        <td>
                                                            <%= o.Transaction_Code %>
                                                        </td>
                                                        <td>
                                                            <%= o.Product_Name %>
                                                        </td>
                                                        <td>
                                                            <img src="/productImage/<%= o.Image1 %>" height="50px" width="50px"/>
                                                        </td>
                                                        <td>
                                                            <%= o.User_Name %>
                                                        </td>
                                                        <td>
                                                            <%= o.Shipping_Address %>
                                                        </td>
                                                        <td>
                                                            ₹<%= o.Total %>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-success"
                                                                data-toggle="modal"
                                                                data-target="#edit-porders-<%= o.Order_Id %>">
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                                                            <div class="modal fade"
                                                                id="edit-porders-<%= o.Order_Id %>">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <form action="/admin/porders/edit/<%= o.Order_Id %>" method="post">
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title">Edit Order Status</h4>
                                                                                <button type="button" class="close"
                                                                                    data-dismiss="modal"
                                                                                    aria-label="Close">
                                                                                    <span aria-hidden="true">×</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div class="form-group row">
                                                                                    <label class="col-4">Status</label>
                                                                                    <select type="text" name='Status' class="col-6 form-control" required='' >
                                                                                        <option value="Payment Pending" <% if(o.Status == "Payment Pending"){ %>selected<% } %> >Payment Pending</option>
                                                                                        <option value="Payment Success" <% if(o.Status == "Payment Success"){ %>selected<% } %> >Payment Success</option>
                                                                                        <option value="Order delivered" <% if(o.Status == "Order delivered"){ %>selected<% } %> >Order delivered</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="modal-footer justify-content-between">
                                                                                <button type="button"
                                                                                    class="btn btn-default"
                                                                                    data-dismiss="modal">Close</button>
                                                                                <input type="submit"
                                                                                    class="btn btn-primary"
                                                                                    value='Save' />
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Order_Date</th>
                                                    <th>Status</th>
                                                    <th>Transaction_Code</th>
                                                    <th>Product_Name</th>
                                                    <th>Image</th>
                                                    <th>User_Name</th>
                                                    <th>Shipping Address</th>
                                                    <th>Total Price</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <%- include('layouts/footer') %>
    </div>
    <!-- ./wrapper -->

    <%- include('layouts/scripts') %>
</body>

</html>